.job-all-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job-all-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
} 

.job-all-header{
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 15px 0px;
}
.job-all-heading{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.job-search-inpfield{
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    padding-left: 15px;
}